@{
    ViewData["Title"] = "Music Store - Home";
}

<h1>Music Store (Taylor's Version)</h1>
<p>Esta es la discografía de Taylor Swift</p>
@foreach (disco disco in ViewBag.catalogo)
{
     <div>
        <img src = "/images/@disco.foto">
        <a href = '@Url.Action("infoAlbum", "Home", new {id=disco.id})'>@disco.nombre</a>
     </div>
}
